// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import '../_modules/atoms/sc-logo/sc-logo';

@import '../_modules/organisms/front-page/front-page';
@import '../_modules/organisms/lots-of-likes/lots-of-likes';
@import '../_modules/organisms/select-background/select-background';
@import '../_modules/organisms/capture-image/capture-image';
@import '../_modules/organisms/display-gif/display-gif';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
}

.page {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;

  border: 1px solid black;

  visibility: hidden;
  opacity: 0;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
