extends _layouts/base

include _modules/atoms/sc-logo/sc-logo

include _modules/organisms/front-page/front-page
include _modules/organisms/lots-of-likes/lots-of-likes
include _modules/organisms/select-background/select-background
include _modules/organisms/capture-image/capture-image
include _modules/organisms/display-gif/display-gif

block content
  +sc-logo()
  +front-page()
  +lots-of-likes()
  +select-background()
  +capture-image()
  +display-gif()
